STRService-clean_architech/STRService.xcodeproj/xcshareddata/xcschemes/STRService.xcscheme
STRService-clean_architech/STRService.xcodeproj/xcshareddata/xcschemes/STRServiceTests.xcscheme
STRService-clean_architech/STRService.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
STRService-clean_architech/STRService.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
